html, body {
    margin: 1px !important;
    padding: 1px !important;
}

#header {
	margin-top: 0px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
	font-size: 25px;
    font-weight: bold;
	width: 100%;
	height: 30px;
}
.logo {
	position: relative;
    float: left;
    width:  30px;
    height: 25px;
    background-position: 50% 50%;
/*    background-repeat:   no-repeat;
    background-size:     cover; */
}
/* 
.logo-left { margin: 10px; float: left; width: 30px; height: 25px }
 */
.box {
    display: flex;
	width: 100%;
	margin-top: 0px;
	color: #000000;
}
.columnHdr {
	position: relative;
}
.targetDiv {
	width: 50%;
	height: 25px;
	text-align: center;
	background: #c4c5c6;
}
.sourceDiv {
	width: 50%;
	height: 25px;
	text-align: center;
	background: #dddddd;
}
.pkgNType {
	width: 5%;
}
.inpt {
	width: 70%;
}
.btn {
	width: 15%;
	background: #c4c5c6;
}
.inptSingle {
	width: 86%;
}
.otclScript {
	width: 15%;
}
.otclScriptInpt {
	width: 80%;
}
.txtArea {
	width: 100%;
	text-align: left;
	min-height: 150px;
	border: 2px solid #4CAF50;
	resize: vertical; 
}

.actions {
	width: 20%;
	background: #b2b2b2;
}
.actionBtn {
	display: block;
	margin : 0 auto;
	background: #c4c5c6;
	width: 170px;
}
.targetTree {
	flex-grow: 1;
	width: 50%;
	height: 100%;
	background: #c4c5c6;
}
.sourceTree {
	flex-grow: 1;
	width: 50%;
	height: 100%;
	background: #dddddd;
}


/*   ----- TextArea context menu  */

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}